.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    background: #23232e;
}

.nav a{
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
    text-transform: uppercase;
}

.nav a:hover{
    opacity: 0.7;
}

.navList{
    list-style: none;
    display: flex;
}

.navList li{
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobileMenu{
    display: none;
    cursor: pointer;
}

.mobileMenu div{
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
}

@media (max-width: 999px) {

    .navList{
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        background: #23232e;
    }

    .navList li{
        margin-left: 0;
        opacity: 0;
    }

    .mobileMenu{
        display: block;
    }

    .navList.active{
        transform: translateX(0);
    }
}