.fixed{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 99;
}
.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    background: rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.144);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.nav a {
    font-weight: bolder;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    transition: 0.5s;
}

.nav a:hover {
    font-size: 20px;
    opacity: 0.7;
}

.logo {
    padding-top: 3rem;
    padding-bottom: 1rem;
}

.navList {
    list-style: none;
    display: flex;
}

.navList li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobileMenu {
    display: none;
    cursor: pointer;
}

.mobileMenu div {
    width: 32px;
    height: 2px;
    background: #23232e;
    margin: 8px;
}

@media (max-width: 999px) {

    .navList {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        background: #23232e;
    }

    .navList li {
        margin-left: 0;
        opacity: 0;
    }

    .mobileMenu {
        display: block;
    }

    .navList.active {
        transform: translateX(0);
    }
}